/* 
*{
  margin:0;
  padding: 0;
  box-sizing: border-box; 
}

html,body{
  width: 100%;
  height: 100%;
}

#main{
  width: 100%;
  height: 90vh;  
}

#back{
  width: 100%;
  height: 100vh;
}
#back img{
  width: 100%;
  height: 100%;
  background-size: cover;
}

#top{
  pointer-events: none; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100vh;
}

#workingarea{
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  max-width: 1920px;
}

#nav{
width: 100%;
padding: 20px 0;
}

#nleft {
  color:whitesmoke;
  pointer-events: all;
  -webkit-transform: rotate(-15deg);
  margin-top: -8rem;
  font-size: 15px;
  font-family: 'Dancing Script', cursive;
}

#nleft:hover{
  color: wheat;
}

#footer{
  color: whitesmoke;
  pointer-events: all;
  display: flex;
  font-size: 12px;
  padding-left: 8rem;
  padding-top: 7rem;
  gap: 50px;
}
#footer:hover{
  color: wheat;
}

#nright {
  color: whitesmoke;
  pointer-events: all;
  display: flex;
  font-size: 12px;
  gap: 50px;
  justify-content: flex-end;
  margin-top:-1.3rem;
}
#nright:hover{
  color: wheat;
}

#hero{
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  transform: translate(0%, -50%);
  justify-content: space-between;
  width: 100%;
}

#heroleft{
  min-width: 50%;  
}

#heroleft .elem {
  position: relative;
  height: 9vw;
  overflow: hidden;
}
#heroleft .elem h1:nth-child(1) {
top: 0;
}

#heroleft .elem h1 {
  position: absolute;
  top:100%;
  left: 0;
  line-height: .9;
  font-family: "kajiro";
  color: rgb(245, 17, 17);
  font-weight: 100;
  font-size: 4vw;
}
#heroleft button {
  pointer-events: all;
  padding:.6vw 2vw;
  font-size: 2.5vw;
  margin-top: 1vw;
  font-family: "kajiro";
}
#heroleft button:hover{
  letter-spacing: 3px;
  transition: 0.5s;
  box-shadow: 0 0 5px #03e9f4,
  0 0 25px #03e9f4,
  0 0 50px #03e9f4,
  0 0 100px #03e9f4;
}

#heroright{
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: flex-end;
  width: 17%;
  color: white;
}

#heroright p {
  font-size: 12px; 
  text-align: right; 
}

#heroright #imagediv{
width: 100%;
height: 150px; 
margin-top: 20px;
margin-bottom: 30px;
background-image: url(assest/Gojo.jpg);
background-size: cover;
background-position: center;
}

#heroright p:nth-child(3){
  margin-bottom: 20px;
}

 */
