<div id="main">
  <div id="back">
    <img src="assest/jujutsu (1).jpg" />
    <video src="assest/Jujutsu Kaisen.mp4"></video>
    <img src="assest/jujutsu (3).jpg" />
    <video src="assest/gojo.mp4"></video>
    <img src="assest/yuta.jpg" />
    <video src="assest/Jujutsu Kaisens.mp4"></video>
    <video
      src="assest/gojo tec.mp4"
    ></video>
  </div>
  <div id="top">
    <div id="workingarea">
      <div id="nav">
        <div id="nleft">
          <h3>Shubham</h3>
        </div>
        <div id="footer">
          <h3>Product</h3>
          <h3>About</h3>
        </div>
        <div id="nright">
          <h3>Contact</h3>
          <h3>Domain Expansion</h3>
        </div>
      </div>
      <div id="hero">
        <div id="heroleft">
          <div class="elem">
            <h1>Gojo Satoru</h1>
            <h1>Jujutsu Kaisen</h1>
            <h1>Sukuna</h1>
            <h1>Creater Shubham</h1>
            <h1>Yuta Okkotsu</h1>
            <h1>Shubham</h1>
            <h1>Creater Shubham</h1>
          </div>
          <div class="elem">
            <h1>Special Grade Sorcerer</h1>
            <h1>Gege Akutami</h1>
            <h1>Cursed Techniques</h1>
            <h1>Anime</h1>
            <h1>Cursed Techniques</h1>
            <h1>Mern Stack Dev</h1>
            <h1>Anime</h1>
          </div>
          <div class="elem">
            <h1>Ability Limitless</h1>
            <h1>Shueisha's Manga</h1>
            <h1>Dismantle Cleave</h1>
            <h1>Jujutsu Kaisen</h1>
            <h1>reverse cursed</h1>
            <h1>Java Developer</h1>
            <h1>Jujutsu Kaisen</h1>
          </div>
          <button>Explore Now</button>
        </div>
        <div id="heroright">
          <p>Wake up to Reality of this world</p>
          <div id="imagediv"></div>
          <p>
            Jujutsu Kaisen is a Japanese manga series written and
            illustrated by Gege Akutami. It has been serialized in
            Shueisha's shōnen manga magazine Weekly Shōnen
          </p>
          <p>
            Jujutsu Kaisen is a Japanese manga series written and
            illustrated by Gege Akutami. It has been serialized in
            Shueisha's shōnen manga magazine Weekly Shōnen
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
<script
  type="text/javascript"
  src="https://unpkg.com/sheryjs/dist/Shery.js"
></script>
<script src="script.js"></script>